[submodule "dep/std"]
	path = dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "dep/mink"]
	path = dep/mink
	url = https://github.com/briar-systems/mink
[submodule "gen/dep/std"]
	path = gen/dep/std
	url = https://github.com/briar-systems/mach-std
[submodule "gen/dep/mink"]
	path = gen/dep/mink
	url = https://github.com/briar-systems/mink
[submodule "gen/dep/json"]
	path = gen/dep/json
	url = https://github.com/briar-systems/mach-json
